
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #7882d6;
    color: #000000;
    padding: 20px;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    padding: 5vh;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px 0;
}

th {
    background-color: #000000; 
    color: #fff; 
   
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #9af4fa;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #000000;
}

button {
    padding: 10px 20px;
    background-color: #b80000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    color: #b80000;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.erro {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.btn-destaque {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF; /* Azul */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 20px 0;
    transition: background-color 0.3s ease;
}

.btn-destaque:hover {
    background-color: #0056b3; /* Azul mais escuro */
}
